body{
    background-image: url(image/17788416_5894048.jpg);
}
/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 0; /* Aumenta el padding superior e inferior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navegación */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Añade margen superior para bajar el menú */
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

/* Logo dentro del header */
.header-content {
    margin-right: 20px;
}


/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navegación */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

/* Lista de navegación */
.navigation ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    align-items: center; /* Asegura que todos los elementos del menú, incluidos los logos, estén alineados verticalmente */
}

/* Logo y otros contenidos */
.header-content,
.logo {
    display: flex;
    align-items: center; /* Alinea verticalmente los logos */
}

.logo img {
    display: block; /* Asegura que las imágenes no tengan espacio en línea sobrante */
    margin-right: 1px; /* Espacio entre logos y otros elementos si es necesario */
}
/* Estilo para quitar las líneas de los enlaces en el menú */
.navigation ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Mantiene el color del texto o el que hayas asignado previamente */
}

.navigation ul li a:hover {
    text-decoration: none; /* Asegura que al pasar el mouse no se muestre el subrayado */
}
