
body {
    font-family: Arial, sans-serif;
    background-image: url(image/17788416_5894048.jpg);
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group textarea {
    resize: vertical;
}
.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.read {
    background: linear-gradient(90deg, #3264ee, #22b4ce);
    padding: 6px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
 }
